{% extends 'public/base.html' %}
{% block title %}Личный кабинет{% endblock %}
{% load static %}
{% block body %}
<div class="container mt-header mb-5">
	<div class="row mt-5">
		<div class="col-12 col-xxl-6 d-flex justify-content-center">
			<div><img src="{% static 'style/img/Cake2.png'%}" alt=""></div>
		</div>
        <div class="d-flex">
            <ul class="list-group">
                <li class="list-group-item border-0 ps-0">
                    <span class="fs_40 cake_blue">{{ user.first_name }}</span>
                </li>
                <li class="list-group-item border-0 ps-0">
                    <h1 class="fs_40 cake_blue">{{ user.last_name }}</h1>
                </li>
                <li class="list-group-item border-0 ps-0">
                    <h1 class="fs_40 cake_blue">{{ user.email }}</h1>
                </li>
            </ul>

        </div>

			<h2 class="fs_40 cake_pink mt-5">Мои заказы</h2>
			<span class="cake_grey">У вас еще нет заказов.</span>
			<p class="cake_grey">Вы можете добавить торт из <a href="../public/index.html#step2" class="text-decoration-none cake_pink">Каталога</a> или <a href="../public/index.html#step3" class="text-decoration-none cake_pink">Создать свой</a>.</p>
			<span class="cake_grey">Есть вопросы?</span>
			<span class="cake_grey">Воспользуйтесь нашим <a href="https://vk.com/devmanorg" class="text-decoration-none cake_pink">чат-ботом</a>.</span>
			<button class="btn text-white rounded-pill align-self-end px-5 mt-3 shadow-none cake__button cake__bg_pink">Выйти</button>

	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{% static 'style/lk.js' %}"></script>

{% endblock %}