<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load bootstrap3 %}
    <link rel="stylesheet" href="{% static 'style/Style.css' %}">
	<!-- Для разработки: -->
	<script src="https://unpkg.com/vue@3"></script>
	<!-- Для продакшина: -->
	<!-- <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script> -->
	<script src="https://unpkg.com/vee-validate"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% block css_chapter %} {% endblock %}
	<title>{% block title %} {% endblock %}</title>
        <aside class="modal fade" id="RegModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="RegModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content px-4 cake__modal">
					<div>
                        <iframe href="{% url 'register' %}" width="100%" height="60px" align="left"></iframe>
                    </div>

				</div>
			</div>
		</aside>
</head>

<body>
<header class="navbar navbar-expand-xl navbar-light sticky-top bg-white py-4">
	<nav class="container">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'style/img/Logo.svg' %}" href="{% url 'index' %}"  alt="CakeBake" class="mb-2">
		</a>
		<div class="collapse navbar-collapse justify-content-end" id="navbar">
			<ul class="navbar-nav">
				<li class="nav-item me-5">
					<a class="nav-link fw-lighter cake_blue" href="#step3">Создать торт</a>
				</li>
				<li class="nav-item me-5">
					<a class="nav-link fw-lighter cake_blue" href="#step2">Каталог</a>
				</li>
				<li class="nav-item me-5">
					<a class="nav-link fw-lighter cake_blue" href="#step4">Оплата и доставка</a>
				</li>
				<li class="nav-item me-5">
					<a class="nav-link fw-lighter cake_blue" href="#Contacts">Контакты</a>
				</li>
				<li class="nav-item d-block d-xl-flex flex-column align-items-end me-5">
					<small class="fw-lighter text-decoration-none fs_12 cake_blue">8 (495) 000-00-00</small>
					<small class="fw-lighter text-decoration-none fs_12 cake_blue">Пн - Вс 10:00—20:00</small>
				</li>
				<li class="nav-item d-flex align-items-center">

                <div class="dropdown">
                {% if request.user.is_authenticated %}
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Привет, {{ user.first_name }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href={% url "cart" %}>Личный кабинет</a></li>
                <li><a class="dropdown-item" href="{% url "logout" %}">Выход</a></li>
                   {% else %}
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Авторизуйтесь
                </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href={% url "login" %}>Вход</a></li>
                    <li><a class="dropdown-item" href={% url "register" %}>Регистрация</a></li>
                    {% endif %}
                    </ul>
                </div>

			</ul>
		</div>
	</nav>

</header>

{% block body %}
{% endblock %}

<footer class="mt-5 cake__bg_blue" id="Contacts">
	<div class="container my-5 py-5">
		<div class="row">
			<div class="col-4 col-xl-2 d-flex flex-column">
				<div>
					<img src="{% static 'style/img/Logo.svg' %}" href="{% url 'index' %}"  alt="CakeBake" class="mb-2">
				</div>'
				<small class="text-white fs_12">©2022 CakeBake</small>
				<small class="text-white fs_12">Все права защищены.</small>
				<div class="flex-grow-1 d-flex align-items-end">
					<small class="text-white fs_12">г. Москва,  Большой Козловский пер., д. 12</small>
				</div>
			</div>
			<div class="col-4 col-xl-2 d-flex flex-column">
				<a href="#" class="text-decoration-none text-white">На свадьбу</a>
				<a href="#" class="text-decoration-none text-white">На день рождения</a>
				<a href="#" class="text-decoration-none text-white">На чаепитие</a>
			</div>
			<div class="col-4 col-xl-2 d-flex flex-column">
				<a href="#step3" class="text-decoration-none text-white">Создать торт</a>
				<a href="#step2" class="text-decoration-none text-white">Каталог</a>
				<a href="#Contacts" class="text-decoration-none text-white">Контакты</a>
			</div>
			<div class="col-12 col-xl-6 d-flex flex-column align-items-start align-items-xl-end mt-3 mt-xl-0">
				<a href="https://vk.com/devmanorg"><img src="{% static 'style/img/vk.svg' %}" alt="VK" class="mb-3 mb-xl-5"></a>
				<small class="text-white fs_12">8 (495) 000-00-00</small>
				<small class="text-white fs_12">info@cakebake.ru</small>
				<small class="text-white fs_12">Пн - Вс 10:00—20:00</small>
			</div>
		</div>
	</div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="{% static 'style/index.js' %}"></script>
<script src="{% static 'style/registration.js' %}"></script>
</body>'
</html>